.team-members-container {
	display: block;
	padding: 3%;

	.main-title {
		display: block;

		h2 {
			font-size: 52.52px;
			line-height: 95px;
			font-weight: 400;
			text-align: center;
			margin: 0 0 40px;
			padding-bottom: 20px;
			text-transform: uppercase;
		}
	}
	.cards-container {
		display: flex;
		align-items: center;

		.card-wrapper {
			//float: left;
			//width: 100%;
			background: #fff;
			//padding: 30px 20px;
			text-align: center;
			border: 2px solid #d5d5d5;
			margin: 0.5%;

			flex: 0 0 25%;

			@media all and (max-width: 992px) {
				flex: 1 0 100%;
			}

			figure {
				/* 	width: 148px;
				height: 148px;
				border-radius: 100%; */
				display: inline-block;
				margin-bottom: 15px;

				.img-responsive {
					/* 	display: inline-block;
					width: 148px;
					height: 148px;
					border-radius: 100%; */
				}
			}
			.member-title {
				/*
						color: #3c3c3c;
						font-size: 24px;
						font-weight: 500;
						font-family: 'Poppins', sans-serif;
						padding: 10px 0;
						*/
				color: #2a2a2a;
				font-size: 20px;
				font-weight: 500;
				padding: 6px 0;
				text-transform: uppercase;

				.member-link {
					text-decoration: none;
					color: #2a2a2a;

					&:hover {
						color: #337ab7;
					}
				}
			}
			.member-description {
				color: #2a2a2a;
				font-size: 13px;
				line-height: 20px;
				font-weight: 400;
			}
		}
	}
}

/*
.team-members-container .cnt-block:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border: 0;
}

        justify-content: flex-start;

        @media all and (max-width: 992px) {
            flex-wrap: wrap;
        }
*/
